#headline-custom {
    margin-top: 20px;

    font-size: larger;
    color: red;

    letter-spacing: 0.5px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}

.menu button {
    margin: 10px;

    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: var(--btn_bg);
    border: var(--btn_border);
    border-radius: 5px;

    font-family: "Space Grotesk Medium";
    font-size: medium;
    color: white;

    cursor: pointer;
    transition: 0.3s;
}

.menu button:hover {
    opacity: 0.8;
}

#cancel {
    background-color: var(--btn_border_clr)
}