.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 100px;
    padding: 30px;

    width: 70%;

    border: var(--btn_border);
    border-radius: 15px;

    background: var(--btn_bg);
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    margin-bottom: 10px;

    width: 30%;

    border: 2px solid rgb(73, 73, 73);
    border-radius: 20px;

    background-color: rgb(29, 29, 29);
}

.name > p {
    font-family: "Space Grotesk Medium";
}

#name_input {
    margin-left: 15px;
    padding: 10px;

    padding-right: 45px;

    background-color: transparent;
    border: 2px solid rgb(50, 50, 50) !important;
    border-radius: 15px !important;
    color: white;

    width: 70%;

    font-family: "Space Grotesk Medium";
}

#name_input:focus {
    outline: none !important;
    caret-color: white;
    color: white;
    box-shadow: 0 0 10px 1px rgb(50, 50, 50) !important;
}

#len_left {
    color: rgb(150, 150, 150);
    font-size: 14px;
    
    right: 28px;
    position: relative;
}

.physical {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 20px;
    margin-top: 10px;

    width: 95%;

    border: 2px solid rgb(73, 73, 73);
    border-radius: 20px;

    background-color: rgb(29, 29, 29);
}

.led {
    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-grow: 1;
}

.led-base, .led-fade {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    margin-right: 30px;
}

.led-base, .led-fade > p {
    color: white;
    font-family: "Space Grotesk Medium";
}

#input_led_base, #input_led_fade {
    margin-left: 10px;
    padding: 5px;

    height: 32px;

    background-color: transparent;
    border: transparent;

    cursor: pointer;
}

#apply {
    font-family: "Space Grotesk SemiBold";
    font-size: 16px;
    
    color: var(--accent_clr);
    background: var(--btn_bg);
    box-shadow: var(--accent_clr_shadow);

    width: 30% !important;

    margin-top: 50px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;

    cursor: pointer;
    transition: 0.3s;
}

#apply:hover {
    box-shadow: var(--accent_clr_shadow_hover);
    border: 2px solid var(--accent_clr);

    transition: 0.3s;
}

.log-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-btn {
    width: 30%
}