#headline-custom {
    margin-top: 30px;

    font-size: larger;
    color: red;

    letter-spacing: 0.5px;
}

button {
    margin: 10px;

    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: var(--btn_bg);
    border: var(--btn_border);
    border-radius: 5px;

    font-family: "Space Grotesk Medium";
    font-size: medium;
    color: white;

    cursor: pointer;
    transition: 0.3s;
}